.search{
    background-color: #2b3566;
    padding: 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
}

.search p{
    color: #9da5d1;
}
.serch_container{
    display: flex;
    gap: 0.5rem;
}

.serch_container input,
.serch_container button{
    padding: 0.6rem;
    color: #2b3566;
    border-radius: 3px;
    border: none;
}

.serch_container button{
    background-color: #0e1129;
}